$white: rgba(255, 255, 255, 1);
$black: rgb(0, 0, 0);
$secondary-black: #1c1e24;
$grey: rgb(80, 78, 78);
$light-grey: #525252;
$disable: rgba(202, 202, 202, 1);
$main: #283654;
$secondary: #6b7ab4;
$tab-bar: #769AA8;
$errorbtn: #B46B6B;
$errorHover: #542828;
